<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metabuild.board.mapper.BoardMapper">

    <insert id = "insertBorad" parameterType = "Board">
        <selectKey keyProperty = "id" resultType = "_int" order = "BEFORE">
            select board_seq.nextval from dual
        </selectKey>
<!--        시퀀스 증가값을 BoardDTO 객체의 id란 property에 전달한다-->
        insert into board(id,userId,title,content,pwd,fileName,originFileName,fileSize,readNum)
        values(#{id},#{userId},#{title},#{content:VARCHAR},#{pwd},#{fileName:VARCHAR}
            ,#{originFileName:VARCHAR},#{fileSize:NUMERIC},0)
    </insert>

    <select id = "listBoard" resultType = "Board" parameterType = "Paging">
        select * from board order by id desc
    </select>

    <select id = "getTotalCount" resultType = "_int" parameterType = "Paging">
        select count(id) from board
    </select>

<!--    조회수 증가-->
    <update id = "updateReadNum" parameterType = "_int">
<!--        update board set readnum=readnum + 1 where id=#{id}-->
        update board
        <set>
            readnum = readnum + 1
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id = "findById" parameterType = "_int" resultType = "Board">
        select * from board
        <where>
            id = #{id}
        </where>
    </select>

    <update id = "updateBoard" parameterType = "Board">
        update board
        <set>
            title=#{title}, content=#{content:VARCHAR}, pwd=#{pwd}, userId=#{userId}
            <if test = "fileName != null and fileName != ''">
                ,fileName=#{fileName}, fileSize=#{fileSize}, originFileName=#{originFileName}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id = "deleteBoard" parameterType = "_int">
        delete from board
        <where>
            id = #{id}
        </where>
    </delete>

</mapper>