<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metabuild.shop.mapper.ProductMapper">

    <select id="findByPspec" parameterType = "String" resultType = "Product">
        select * from product
        <where>
            pspec = upper(#{pspec}) order by pnum desc
        </where>
    </select>

    <select id = "getProduct" parameterType = "_int" resultType = "Product">
        select * from product
        <where>
            pnum = #{pnum}
        </where>
    </select>

    <insert id="insertProduct" parameterType =  "Product">
        <selectKey keyProperty = "pnum" resultType = "_int" order = "BEFORE">
            select product_seq.nextval from dual
        </selectKey>
        insert into product(pnum, pname, pimage1, pimage2, pimage3,pimage1Fn,pimage2Fn,pimage3Fn, price, salePrice, pqty, point, pspec, pcontents, pcompany, pdate, cg_code)
        values(#{pnum}, #{pname}, #{pimage1:VARCHAR}, #{pimage2:VARCHAR}, #{pimage3:VARCHAR}, #{pimage1Fn:VARCHAR}, #{pimage2Fn:VARCHAR}, #{pimage3Fn:VARCHAR}, #{price}, #{salePrice}, #{pqty}, #{point:NUMERIC}, 'NEW', #{pcontents:VARCHAR}, #{pcompany:VARCHAR}, #{pdate:DATE}, #{cg_code:NUMERIC})
    </insert>

    <select id="findProduct" parameterType = "Product" resultType = "Product">
        select * from product
    </select>

    <delete id="deleteProduct" parameterType = "_int">
        delete from product
        <where>
            pnum = #{pnum}
        </where>
    </delete>

    <select id="findByPnum" parameterType = "_int" resultType = "Product">
        select pnum, pname, pimage1, pimage2, pimage3,pimage1Fn,pimage2Fn,pimage3Fn,  price, salePrice, pqty, point, pspec, pcontents, pcompany, pdate, cg_code,
        NVL(pimage1Fn, 'noimage.PNG') file1,
        NVL(pimage2Fn, 'noimage.PNG') file2,NVL(pimage3Fn, 'noimage.PNG') file3 from product
        <where>
            pnum = #{pnum}
        </where>
    </select>

    <update id="updateProduct" parameterType = "Product">
        update product
        <set>
            pname = #{pname}, price = #{price}, salePrice = #{salePrice}, pqty = #{pqty},
            point = #{point}, pcompany = #{pcompany:VARCHAR}, pcontents = #{pcontents:VARCHAR},
            cg_code = #{cg_code:NUMERIC}, pimage1 = #{pimage1:VARCHAR}, pimage2 = #{pimage2:VARCHAR}, pimage3 = #{pimage3:VARCHAR}
            , pimage1Fn = #{pimage1Fn:VARCHAR}, pimage2Fn = #{pimage2Fn:VARCHAR}, pimage3Fn = #{pimage3Fn:VARCHAR}
        </set>
        <where>
            pnum = #{pnum}
        </where>
    </update>

    <select id="findByPname" parameterType="string" resultType="Product">
        select * from product
        <where>
            <if test="keyword != null and keyword != ''">
                pname like '%' || #{keyword} || '%'
            </if>
        </where>
    </select>



</mapper>

